/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'bootstrap/dist/css/bootstrap';

$red-color: #b80f0a;
$blue-color: #0000c7;
$black-color: #201013;

.container {
	width: 960px;
}

#hc-logo {
	width: 90px;
	margin-top: 15px;
	margin-left: 15px;
}

h1 {
	letter-spacing: 0.1em;
}

h3 {
	margin-top: 10px;
}
h4 {
	text-align: center;
}

h6 {
	text-align: center;
	word-wrap: normal;
	text-align: center;
}

h4 a {
	color: $black-color;
	&:hover {
		color: $blue-color;
		text-decoration: none;
	}
}

h6 a {
	color: $black-color;
	&:hover {
		color: $blue-color;
		text-decoration: none;
	}
}

hr {
	color: $black-color;
	border-width: 3px;
}

p {
	color: $black-color;
}

#main-img {
	max-width: 100%;
}

.my-work img {
	padding-left: 5%;
	cursor: pointer;
}

#profile-pic {
	max-width: 90%;
	width: 190px;
}

section.about-wrapper {
	padding-bottom: 20px;
}

.contact-list {
	ul {
		padding-left: 0;
		li {
			font-size: 16px;
			color: $black-color;
			padding-bottom: 1em;
			list-style-type: none;
			&:nth-child(1) {
				i {
					margin-right: 1.8em;
				}
			}
			a {
				color: $black-color;
				text-decoration: none;
			}
			i {
				font-size: 20px;
				margin-right: 2em;
				&.fa-github {
					&:hover {
						color: #4078c0;	
					}
				}
				&.fa-linkedin {
					&:hover {
						color: #1d87bd;
					}
				}
				&.fa-twitter {
					&:hover {
						color: #55acee;
					}
				}			
			}		
		}
	}	
}



