/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'bootstrap/dist/css/bootstrap';

$blue-color: #0000c7;
$black-color: #201013;


body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: $black-color;
}

#hc-logo {
	width: 90px;
	margin-top: 15px;
	margin-left: 15px;
}

h1 {
	letter-spacing: 0.05em;
	font-weight: 100;
	font-size: 60px;
}

h2 {
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 36px;
}

h3.job-title {
	text-align: right;
	margin-top: 0;
}

h6 {
	word-wrap: normal;
}

h3 a {
	color: $black-color;
	font-size: 28px;
	letter-spacing: 0.05em;
	&:hover {
		color: $blue-color;
		text-decoration: none;
	}
}

h6 a {
	color: $black-color;
	font-size: 16px;
	overflow-wrap: break-word;
	&:hover {
		color: $blue-color;
		text-decoration: none;
	}
}

hr.first-hr {
	height: 3px;
	color: #99cc03;
	background-color: #99cc03;
	border: none;
}

p {
	color: $black-color;
	font-size: 16px;
}

#main-img {
	max-width: 100%;
}

.my-work img {
	cursor: pointer;
	width: 400px;
}

.modal-body > p > span {
	font-weight: bolder;
	text-decoration: underline;
}

ul.links {
	list-style: none;
	a {
		color: $black-color;
		display: flex;
		flex-direction: row;
		text-decoration: none;
		&:hover {
			font-weight: bold;
			color: $blue-color;
		}
	}
}

#profile-pic {
	max-width: 90%;
	width: 400px;
}

section.about-wrapper {
	padding-bottom: 20px;
}

.contact-list {
	ul {
		padding-left: 0;
		li {
			font-size: 16px;
			color: $black-color;
			padding-bottom: 1em;
			list-style-type: none;
			&:nth-child(1) {
				i {
					margin-right: 1.8em;
				}
			}
			a {
				color: $black-color;
				text-decoration: none;
			}
			i {
				font-size: 20px;
				margin-right: 2em;
				&.fa-github {
					&:hover {
						color: #4078c0;	
					}
				}
				&.fa-linkedin {
					&:hover {
						color: #1d87bd;
					}
				}
				&.fa-twitter {
					&:hover {
						color: #55acee;
					}
				}			
			}		
		}
	}	
}



